name: deploy-to-linode.yml

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@3df4f47a4ce1c78542c4f35ae6c405c4ea4e4f36

      - name: Set up Maven
        uses: s4u/setup-maven-action@f792ada9f31b4f4e5db7f091adbe21c3f305a2f0
        with:
          java-version: '21'

      - name: Build JAR
        run: mvn clean package -DskipTests

      - name: Copy JAR to Linode
        uses: appleboy/scp-action@c26be5b9698014cc933a9351a092d49b4beba47f
        with:
          host: ${{ secrets.LINODE_IP }}
          username: springapp
          key: ${{ secrets.LINODE_SSH_KEY }}
          source: "target/*.jar"
          target: "/opt/springapp/app.jar"
          strip_components: 1

      - name: Restart Service
        uses: appleboy/ssh-action@f26e029bba904a68f69a4f9c2c280c706ad4ad4a
        with:
          host: ${{ secrets.LINODE_IP }}
          username: root
          key: ${{ secrets.LINODE_SSH_KEY }}
          script: |
            systemctl restart springapp
